<div class="login">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p >
            <mat-error *ngIf="loginResult && !loginResult.success">
                <strong>ERROR</strong>: {{loginResult.message}}
            </mat-error>
        </p>

   <!-- email-->
   <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required placeholder="Insert Email">
        <mat-error *ngFor="let error of getErrors(form.get('email')!, 
          'Email')"> 
        {{error}} 
      </mat-error> 
   </mat-form-field>

      <!-- password-->
      <mat-form-field>
        <mat-label>password</mat-label>
        <input type="password" matInput formControlName="password" required placeholder="Insert password">
        <mat-error *ngFor="let error of getErrors(form.get('password')!, 
          'password')"> 
        {{error}} 
      </mat-error> 
   </mat-form-field>

   <div>
    <button type="submit" mat-flat-button color="primary">Login</button>
    <button mat-flat-button color="secondary" [routerLink]="['/']">Cancel</button>
   </div>

    </form>
</div>